@use '../../../styles/utils/mixins' as *;
@use '../../../styles/utils/variables' as *;

.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: $spacing-md;
  padding: $spacing-lg 0;
  border-bottom: 1px solid #f2f2f2;
  transition: background-color $transition-fast;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  @include mobile {
    min-width: 600px;
  }
}

.transactionCell {
  display: flex;
  align-items: center;
}

.recipient {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: $radius-full;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.badge {
  font-size: $font-size-xs;
  color: $color-text-secondary;
  font-weight: $font-weight-regular;
  line-height: 150%;
}

.title {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
}

.date {
  color: $color-text-secondary;
  font-size: $font-size-sm;
}

.amount {
  display: flex;
  font-weight: bold;
  font-size: $font-size-sm;
  justify-content: center;
}

.positive {
  color: #277c78;
}

.negative {
  color: $color-text-primary;
}
