@use '../../styles/utils/_variables' as *;
@use '../../styles/utils/_mixins' as *;

.wrapper {
  display: flex;
}

.mainContent {
  padding: $spacing-xl $spacing-3xl;
  overflow-x: hidden;
  width: 100%;

  @include mobile {
    padding: $spacing-lg;
  }
}
