@use '../../../../../styles/utils/mixins' as *;
@use '../../../../../styles/utils/variables' as *;

.item {
  @include flex-between;
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba($color-bg-dark, 0.1);
  transition: background-color $transition-fast;

  &:first-child {
    padding-top: 0.22rem;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.info {
  @include flex-start;
  gap: $spacing-md;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: $radius-full;
  object-fit: cover;
  background-color: $color-bg-light;
}

.name {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  line-height: 150%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $spacing-xs;
}

.amount {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: 150%;
}

.positive {
  color: $color-success;
}

.negative {
  color: $color-text-primary;
}

.date {
  font-size: $font-size-xs;
  color: $color-text-secondary;
}
