@use '../../../styles/utils/_variables' as *;
@use '../../../styles/utils/_mixins' as *;

.chart {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: auto;
}

.shapeHead {
  position: absolute;
  width: 187.5px;
  height: 187.5px;
  left: calc(50% - 187.5px / 2 - 0.25px);
  top: calc(50% - 187.5px / 2 - 0.25px);

  background: #ffffff;
  opacity: 0.25;
  border-radius: 50%;
}

.shape {
  position: absolute;
  width: 162px;
  height: 162px;
  left: calc(50% - 162px / 2 + 0px);
  top: calc(50% - 162px / 2 + 0px);
  background: #ffffff;
  border-radius: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.amount {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  margin-bottom: $spacing-xs;
}

.label {
  font-size: $font-size-xs;
  color: $color-text-secondary;
}