// ============================================
// COMPONENT - Card

@use '../../styles/utils/_variables' as *;

.card {
  border-radius: $radius-md;
  padding: $spacing-lg;
  transition: $transition-base;
  background-color: $color-bg-card;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: $color-bg-card-dark;
  color: $color-text-light;

  .label {
    color: $color-text-light;
  }
}

.light {
  background-color: $color-bg-card;
}

.label {
  font-size: $font-size-sm;
  color: $color-text-secondary;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-sm;
  display: block;
}

.amount {
  font-size: $font-size-2xl;
  line-height: 120%;
  font-weight: $font-weight-bold;
}