// ============================================
// COMPONENT - Card
// ============================================

@use '../../styles/utils/_variables' as *;
@use '../../styles/utils/_mixins' as *;

.card {
  border-radius: $radius-md;
  padding: $spacing-lg;
  transition: $transition-base;
  background-color: $color-bg-card;

  &--dark {
    background-color: $color-bg-card-dark;
    color: $color-text-light;

    .card__label {
      color: $color-text-light;
    }
  }

}

.light {
  background-color: $color-bg-card;
}

.label {
  font-size: $font-size-sm;
  color: $color-text-secondary;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-sm;
  display: block;
}

.amount {
  font-size: $font-size-2xl;
  line-height: 120%;
  font-weight: $font-weight-bold;
}