@use '../../../../styles/utils/mixins' as *;
@use '../../../../styles/utils/variables' as *;

.section {
  background-color: $color-text-light;
  border-radius: $radius-md;
  padding: $spacing-lg;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header {
  @include flex-between;
  margin-bottom: $spacing-lg;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
}

.link {
  display: flex;
  align-items: center;
  font-size: $font-size-sm;
  color: $color-text-secondary;
  transition: color $transition-fast;
  gap: $spacing-sm;

  &:hover {
    color: $color-text-primary;
  }
}
