@use '../../../../../styles/utils/variables' as *;
@use '../../../../../styles/utils/mixins' as *;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem $spacing-md;
  border-radius: $radius-md;
  border-left: 4px;
  background: $color-bg-light;
  border-left-style: solid;

  &[data-state='paid'] {
    border-left-color: $color-success;
  }

  &[data-state='total'] {
    border-left-color: $color-warning;
  }

  &[data-state='due'] {
    border-left-color: $color-secondary;
  }
}

.label {
  font-size: $font-size-sm;
}

.amount {
  font-weight: $font-weight-bold;
}

.paid {
  border-left: 4px solid $color-success;
}

.total {
  border-left: 4px solid $color-warning;
}

.due {
  border-left: 4px solid $color-danger;
}
