@use '../../../../../styles/utils/mixins' as *;
@use '../../../../../styles/utils/variables' as *;

.pots {
  display: flex;
  gap: $spacing-3xl;

  @include mobile {
    flex-direction: column;
  }
}
