@use '../../../styles/utils/mixins' as *;
@use '../../../styles/utils/variables' as *;

.transactionTable {
  width: 100%;
}

.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: $spacing-md;
  padding: 1.25rem $spacing-md;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: $spacing-lg;

  @include mobile {
    min-width: 600px;
  }
}
.tableCell {
}
.tableBody {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-lg;
}
