@use '../../../styles/utils/mixins' as *;
@use '../../../styles/utils/variables' as *;

.transactionTable {
  width: 100%;
}

.tableHeader {
  display: flex;
  //grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: $spacing-md;
  padding: 1.25rem $spacing-md;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: $spacing-lg;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  @include mobile {
    min-width: 600px;
  }
}

.tableCell {
  display: flex;
  align-items: center;
  width: 20%;
  font-size: $font-size-xs;
  color: $color-text-secondary;
  font-weight: $font-weight-regular;
  text-align: left;
}

.transactionsLoad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

.amount {
  text-align: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-lg;
}
