@use '../../../../../styles/utils/mixins' as *;
@use '../../../../../styles/utils/variables' as *;

.summary {
  @include flex-start;
  gap: $spacing-md;
  padding: 1.3rem 5.6rem $spacing-md 1.3rem;
  background-color: $color-bg-light;
  border-radius: $radius-md;
  width: 50%;
}

.icon svg {
  width: 40px;
  height: 40px;
  color: $color-success;
}

.total {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  color: $color-text-secondary;
  margin-bottom: $spacing-xs;
}

.amount {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
}
