@use '../../styles/utils/variables' as *;

.grid {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 55%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 43%;
}
